### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=patoosite.net

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Vercel Blob Storage for image uploads - please see Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN=

# GitHub OAuth secrets for auth & login – generate these here: https://github-client-generator.vercel.app/
NEXT-AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings

# Google Generative API key for AI text generation – get one here: https://gemini.google.com
GOOGLE_AI_API_KEY=
